*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background: linear-gradient(to right bottom,rgb(249, 166, 166),rgb(73, 125, 73),rgb(251, 251, 136),rgb(148, 148, 248));
}

.container{
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 28px 35px;
    display: flex;
    flex-direction: column;
    background: transparent;
    box-shadow: 8px 8px 4px #909090,8px 8px 0px #575757;
}

.container h1{
    font-size: 2rem;
    margin-block: 8px;
}

.inputbox{
    position: relative;
}

.inputbox span{
    position: absolute;
    top: 16px;
    right: 8px;
    font-size: 1.9rem;
    cursor: pointer;
    border-radius: 2px;
}

.inputbox span:hover{
    background-color: rgba(0,0,0,0.1);
}

.passbox{
    background-color: #fff;
    border: none;
    outline: none;
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-block: 8px;
}

.row{
    display: flex;
    margin-block: 10px;
}

.row p, .row label{
    flex-basis: 100%;
    font-size: 20px;
}

.row input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

.genbtn{
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    margin-block: 10px;
    background-color: rgb(2, 141, 240);
    color: #fff;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
}

.genbtn:hover{
    background-color: rgb(0, 111, 190);
}